

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Loops</span> </b></center>

#### Exercice 0
>On se propose de résoudre dans l'ensemble des entiers naturels l'inéquation $2n(n+1)<100$.
En utilisant une boucle **While**, écris un programme qui renvoie les solutions entières de cette inéquation.

In [13]:
    n = 0
    while 2*n*(n+1)<100:
        print(n)
        n += 1

0
1
2
3
4
5
6

#### Exercice 1
> En utilisant une boucle **For**, écris un programme qui calcule la somme des 30 premiers entiers naturels non nuls.

In [ ]:
    S =0
    for i in range(30+1):
        S=S+i
    print(S)

#### Exercice 2
>Refais l'exercice 1 en utilisant une boucle **While**.

In [ ]:
S =0
i=1
while i <=30:
    S=S+i
    i=i+1
print(S)

#### Exercice 3
>En utilisant une boucle **For**, écris un programme qui calcule le produit des 9 premiers entiers naturels non nuls.

In [ ]:
n=int(input('un programme qui calcule le produit des 9 premiers entiers naturels'
            p = 1
            for i in range(1,10):
            p = p*i
            print(p)

#### Exercice 4
> Refais l'exercice 3 en utilisant une boucle **While**.

In [ ]:
n=int(input('donner un entier'))
p = 1
i = 1
while i <=9:
        p = p*i
        print (p)
        p=p-1

#### Exercice 5 
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche tous les nombres pairs de $1$ à $n$ en utilisant la boucle **For**.

In [11]:
n=int(input("Donner un entier naturel non nul\n"))
for i in range(2,n+1):
        if i/2==0:
            print(i)
            i+=1

Donner un entier naturel non nul
4

#### Exercice 6
>Refais l'exercice 5 en utilisant la boucle **While**.

In [10]:
n=int(input("Donner un entier naturel non nul\n"))
while n>=1:
    if n%2==0:
        print(n)
    n=n-1

Donner un entier naturel non nul
6
6
4
2

#### Exercice 7
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche tous les nombres impairs de 1 à n en utilisant la boucle **For**.

In [9]:
n=int(input("Donner un entier naturel non nul\n"))
for i in range(1,n+1):
    if i%2==1:
        print(i)

Donner un entier naturel non nul
2
1

#### Exercice 8
>Refais l'exercice 7 en utilisant la boucle **While**.

In [8]:
n=int(input("Donner un entier naturel non nul\n"))
while n>=1:
    if n%2==1:
        print(n)
    n=n-1

Donner un entier naturel non nul
4
3
1

#### Exercice 9
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche sa table de multiplication  en utilisant la boucle **For**.

In [7]:
n = int(input('Donner un entier n'))
for i in range(1,n):
    print(i,' x ',n ,' = ',i*n)

Donner un entier n4
1  x  4  =  4
2  x  4  =  8
3  x  4  =  12

# Exercice 10
Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche sa table de multiplication en utilisant la boucle while.

In [6]:
n = int(input('Donner un entier \n'))
i = 0
while i<=n :
    print(i,' x ',n ,' = ',i*n)
    i=i+1

Donner un entier
8
0  x  8  =  0
1  x  8  =  8
2  x  8  =  16
3  x  8  =  24
4  x  8  =  32
5  x  8  =  40
6  x  8  =  48
7  x  8  =  56
8  x  8  =  64

#### Exercice 12
>Écris un programme qui demande à l'utilisateur d'entrer un entier naturel n et de trouver tous sa factorielle n!  en utilisant la boucle **For**. On rappelle que $n!=n*(n-1)*(n-2)...3*2*1$.

In [12]:
n=int(input('donner un entier naturel'))
p=1
for i in range(1,n+1):
    p=p*i
    print(p)

donner un entier naturel2
1
2

#### Exercice 13
>Écris un programme qui demande à l'utilisateur d'entrer deux entiers naturels (plus petits que 15) et de trouver leur plus petit commun multiple utilisant la boucle **For**.

In [20]:
S =0
a = int(input('donner un entier plus petit que 15'))
while a>15:
    b = int(input('donner un entier plus petit que 15'))
    while b > 15:
        S = [e for e in range(1,max(a,b)) if a%e == 0 and b%e == 0]
        print(S)

donner un entier plus petit que 1514

#### Exercice 14
>Écris un programme pour afficher la série de Fibonacci jusqu'à n termes en utilisant une boucle.

In [ ]:
n=int input('entrer un nombre'):
    n=0
    p=1

#### Exercice 15
>Écris, en utilisant une boucle **For**, un programme pour afficher 5 fois de suite le message "Python est un très bon langage de programmation".

In [18]:
M = '"Python est un très bon langage de programmation".'
for i in range(5):
    print(M)

"Python est un très bon langage de programmation".
"Python est un très bon langage de programmation".
"Python est un très bon langage de programmation".
"Python est un très bon langage de programmation".
"Python est un très bon langage de programmation".

#### Exercice 16
>Écris, en utilisant une boucle **While**, un programme pour afficher 7 fois de suite le message "A cette allure je finirai par tout abandonner pour la programmation".

In [17]:
A = '"A cette allure je finirai par tout abandonner pour la programmation".'
i = 1
while i <= 7:
    print(A)
    i+=1

"A cette allure je finirai par tout abandonner pour la programmation".
"A cette allure je finirai par tout abandonner pour la programmation".
"A cette allure je finirai par tout abandonner pour la programmation".
"A cette allure je finirai par tout abandonner pour la programmation".
"A cette allure je finirai par tout abandonner pour la programmation".
"A cette allure je finirai par tout abandonner pour la programmation".
"A cette allure je finirai par tout abandonner pour la programmation".

#### Exercice 17
>Écris, en utilisant une boucle **For**, un programme qui compte à l'envers de 10 à 0 puis qui affiche le message "Partez".

In [4]:
n=10
for i in range(0,11):
    print(n-i)

print("patez")

10
9
8
7
6
5
4
3
2
1
0
patez

#### Exercice 18
>Écris, en utilisant une boucle **For**, un programme qui affiche chaque élément d'une chaine de caractère.

In [1]:
chaine=input("entrer une chaine de caractere: ")
for i in chaine:
    print(i)

entrer une chaine de caractere: lamine
l
a
m
i
n
e

#### Exercice 19
>Écris, en utilisant une boucle **For**, un programme qui compte à l'envers de 10 à 0 puis qui affiche le message "Partez".

In [5]:
n=10
for i in range(0,11):
    print(n-i)

print("patez")

10
9
8
7
6
5
4
3
2
1
0
patez

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS! 🎉 </span> </b></center>